# Docker Configuration
DOCKER_USERNAME=your_dockerhub_username
PROJECT_NAME=nexus-frontend

# App Configuration
VITE_APP_DOMAIN=nexus.sanjar.me
VITE_APP_DEV_DOMAIN=nexus-dev.sanjar.me

# Add your other environment variables here
