# Application
NODE_ENV=development
PORT=3001
API_PREFIX=api

# Database
MONGODB_URI=mongodb://localhost:27017/ez-metric

# JWT
JWT_SECRET=your-jwt-secret-here
JWT_REFRESH_SECRET=your-jwt-refresh-secret-here
JWT_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Telegram
TELEGRAM_BOT_TOKEN=

# Admin
ADMIN_EMAIL=admin@ezmetric.com

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
